@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 50px 0;
}


/* IMAGE-1 */

.container-1 {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-1 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.caption-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0);
}

.caption-1 h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption-1 p {
    font-size: 18px;
    text-transform: capitalize;
}

.container-1:hover .caption-1 {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.container-1:hover .img-1 {
    transform: scale(1.3) rotate(15deg);
}




/* IMAGE-2 */

.container-2 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-2 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.caption-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.caption-2 h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption-2 p {
    font-size: 18px;
    text-transform: capitalize;
}

.container-2:hover .caption-2 {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(0);
}

.container-2:hover .img-2 {
    transform: scale(1.3) rotate(-15deg);
}




/* IMAGE-3 */

.container-3 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-3 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.caption-3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.5s;
    background-color: #000;
    transform: translateX(-100%);
}

.caption-3 h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption-3 p {
    font-size: 18px;
    text-transform: capitalize;
}

.container-3:hover .caption-3 {
    transform: translateX(0);
}

.container-3:hover .img-3 {
    transform: translateX(100%);
}




/* IMAGE-4 */

.container-4 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-4 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.caption-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.5s;
    background-color: #000;
    transform: translateY(100%);
}

.caption-4 h1 {
    text-transform: uppercase;
    margin: 0;
}

.caption-4 p {
    font-size: 18px;
    text-transform: capitalize;
}

.container-4:hover .caption-4 {
    transform: translateY(0);
}

.container-4:hover .img-4 {
    transform: translateY(-30%);
}



/* IMAGE-5 */

.container-5 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-5 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.container-5:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #006266;
    opacity: 0.5;
    transform: translateY(100%);
    transition: all .5s;
    transition-delay: .25s;
}

.caption-5 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    transform: translateY(-20px);
    opacity: 0;
    transition: all .25s;
}

.caption-5 h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.caption-5 p {
    font-size: 18px;
    text-transform: capitalize;
    background-color: #ae895d;
    padding: 3px 5px;
}

.container-5:hover:before {
    transform: translateY(0);
    transition-delay: 0s;
}

.container-5:hover .caption-5 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .3s;
}




/* IMAGE-6 */

.container-6 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-6 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.container-6:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 200%;
    background-color: #2d3436;
    opacity: 0.8;
    transition: all .25s;
    transform: translate(600px, 500px) rotate(45deg);
}

.container-6:hover:before {
    transform: translate(-200px, -190px) rotate(45deg);
} 

.caption-6 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transition: all 0.5s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.caption-6 h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(200px, -200px);
    transition: all.25s;
}

.caption-6 p {
    font-size: 20px;
    text-transform: capitalize;
    transition: all .25s;
    transform: translate(-200px, 250px);
}

.caption-6 a {
    text-decoration: none;
    background-color: #000;
    color: white;
    width: 150px;
    padding: 15px;
    text-align: center;
    transition: all .25s;
    transform: translateY(200px);
}


.container-6:hover h1 {
    transform: translate(0, 0);
    transition-delay: .3s;
}

.container-6:hover p {
    transform: translate(0, 0);
    transition-delay: .4s;
}

.container-6:hover a {
    transform: translateY(0);
    transition-delay: .5s;
}





/* IMAGE-7 */

.container-7 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.img-7 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.container-7:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 200%;
    background-color: #2d3436;
    opacity: 0.8;
    transition: all .25s;
    transform: translate(600px, 500px) rotate(180deg);
}

.container-7:hover:before {
    transform: translate(0, 0) rotate(0deg);
} 

.caption-7 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transition: all 0.5s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.caption-7 h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);
    transition: all .2s;
}

.caption-7 p {
    font-size: 20px;
    text-transform: capitalize;
    transition: all .2s;
    transform: translateX(500px) rotate(90deg);
}

.caption-7 a {
    text-decoration: none;
    background-color: #000;
    color: white;
    width: 150px;
    padding: 15px;
    text-align: center;
    transition: all .25s;
    transform: translateY(200px);
}


.container-7:hover h1 {
    transform: translateY(0);
    transition-delay: .3s;
}

.container-7:hover p {
    transform: translateX(0) rotate(0);
    transition-delay: .4s;
}

.container-7:hover a {
    transform: translateY(0);
    transition-delay: .3s;
}






/* IMAGE-8 */

.container-8 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #444;
    border: 10px solid #444;
    overflow: hidden;
}

.img-8 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transition-delay: .5s;
    object-fit: cover;
}

.container-8:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 200%;
    background-color: #006266;
    opacity: 0.8;
    transition: all .5s;
    transform: scale(0) rotate(-180deg);
}

.container-8:hover:before {
    transform: scale(1) rotate(0deg);
    transition-delay: .5s;
} 

.caption-8 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transition: all 0.5s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.caption-8 h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-150px);
    opacity: 0;
    transition: all .5s;
}

.caption-8 p {
    font-size: 20px;
    text-transform: capitalize;
    transition: all .5s;
    transform: translateX(500px) rotate(90deg);
    padding: 0 20px;
    opacity: 0;
}

.caption-8 a {
    text-decoration: none;
    background-color: #000;
    color: white;
    width: 150px;
    padding: 15px;
    text-align: center;
    transition: all .5s;
    transform: translateY(200px);
    opacity: 0;
}


.container-8:hover h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: .5s;
}

.container-8:hover p {
    transform: translateX(0) rotate(0);
    opacity: 1;
    transition-delay: .5s;
}

.container-8:hover a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: .5s;
}

.container-8:hover .img-8 {
    transform: scale(0);
    transition-delay: 0s;
}







/* IMAGE-9 */

.container-9 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    background-color: #444;
    border: 10px solid #444;
    overflow: hidden;
}

.img-9 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    transition-delay: .5s;
    object-fit: cover;
}

.container-9:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 200%;
    background-color: #006266;
    opacity: 0;
    transition: all .3s;
}

.container-9:hover:before {
    opacity: 1;
} 

.caption-9 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transition: all 0.5s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.caption-9 h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: scale(10);
    transition: all .3s;
}

.caption-9 p {
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 20px;
    opacity: 0;
    transform: scale(10);
    transition: all .3s;
}

.caption-9 a {
    text-decoration: none;
    background-color: #000;
    color: white;
    width: 150px;
    padding: 15px;
    text-align: center;
    transition: all .3s;
    transform: translateY(200px);
}


.container-9:hover h1 {
    opacity: 1;
    transform: scale(1);
    transition-delay: .2s;
}

.container-9:hover p {
    opacity: 1;
    transform: scale(1);
    transition-delay: .2s;
}

.container-9:hover a {
    transform: translateY(0);
    transition-delay: .2s;
}




/* IMAGE-10 */

.container-10 {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    background-color: #444;
    border: 10px solid #444;
}

.img-10 {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    object-fit: cover;
}

.container-10:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 200%;
    background-color: #006266;
    opacity: 0;
    transition: all .3s;
}

.container-10:hover:before {
    opacity: 1;
    transition-delay: .5s;
} 

.caption-10 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    transition: all 0.5s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.caption-10 h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .2s;
    transform: translateY(-500px);
}

.caption-10 p {
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 20px;
    transition: all .2s;
    transform: translateY(-500px);
}

.caption-10 a {
    text-decoration: none;
    background-color: #000;
    color: white;
    width: 150px;
    padding: 15px;
    text-align: center;
    transition: all .2s;
    transform: translateY(-500px);
}


.container-10:hover h1 {
    transform: translateY(0);
    transition-delay: .9s;
}

.container-10:hover p {
    transform: translateY(0);
    transition-delay: .7s;
}

.container-10:hover a {
    transform: translateY(0);
    transition-delay: .5s;
}

.container-10:hover .img-10 {
    transform: rotate(720deg) scale(0);
    opacity: 0;
}